<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://java.sun.com/jsf/composite">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <header class="bd-header bg-dark py-1 d-flex align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
            <div class="container alight-items-left" >
                <b>

                    <text th:text="${admin_user.login}" class="text-white fw-bolder"></text>
                </b>
                <text class="text-white">with roles</text>
                <text th:text="${admin_user.getStringRoles()}" class="text-white"></text>
            </div>


            <div class="container align-items-right"></div>
            <a href="/logout" class="text-secondary align-items-right" hreflang="ar">Logout</a>
        </div>
        </div>
    </header>



    <title>Создаем пожилого юзера</title>
</head>
<body>

<!--боковая панель-->
<div class="row">
    <div class="col-2">
        <div class="d-flex flex-column flex-shrink-0 p-10 bg-light">
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home"></use>
                        </svg>
                        Admin
                    </a>
                </li>
                <li>
                    <a href="/user" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        User
                    </a>

            </ul>
            <hr>
        </div>
    </div>
    <!--конец боковой панели-->

    <div class="col-10">
        <h2 class="text-left">Admin panel</h2>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="/admin/">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">Create user</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">


                <form action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-3 align-self-center">
                                <label class="form-label" for="name">Login</label>
                                <input class="form-control" type="text" th:field="*{login}" id="name"
                                       placeholder="Login">
                                </br>
                                <label class="form-label" for="name">Firstname</label>
                                <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name">
                                </br>
                                <label class="form-label" for="surname">Surname</label>
                                <input class="form-control" type="text" th:field="*{surname}" id="surname"
                                       placeholder="Surname">
                                </br>
                                <label class="form-label" for="age">Age</label>
                                <input class="form-control" type="number" th:field="*{age}" id="age" placeholder="Age">
                                </br>
                                <label class="form-label" for="email">E-mail</label>
                                <input class="form-control" type="email" th:field="*{email}" id="email"
                                       placeholder="E-mail">
                                </br>
                                <label class="form-label" for="email">Password</label>
                                <input class="form-control" type="text" th:field="*{password}" id="password"
                                       placeholder="Password">
                                </br>

                                <label class="form-label" for="email">Role</label>
                            </br>
                                <select class="form-select" size="3" multiple aria-label="Choose roles" th:field="${user.roles}">
                                    <option th:each="role : ${user.getRoles()}"
                                            th:text="${role.getRole()}"
                                            th:value="${role.getRole()}"
                                    ></option>
                                </select>
                                </br>

                                <button class="btn btn-success" type="submit" value="Create User">Create User</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.springframework.org/security/tags">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Create user</title>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;/*@thymesVar id="user" type="web"*/&ndash;&gt;-->
<!--<form action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">-->
<!--    <div>-->
<!--    <label for="name">Login</label>-->
<!--    <input type="text" th:field="*{login}" id="name" placeholder="Login">-->
<!--    </div>-->
<!--    </br>-->
<!--    <div>-->
<!--    <label for="name">Firstname</label>-->
<!--    <input type="text" th:field="*{name}" id="name" placeholder="Name">-->
<!--    </div>-->
<!--    </br>-->
<!--    <div>-->
<!--    <label for="surname">Surame</label>-->
<!--    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">-->
<!--    </div>-->
<!--    </br>-->
<!--    <div>-->
<!--    <label for="age">Age</label>-->
<!--    <input type="number" th:field="*{age}" id="age" placeholder="Age">-->
<!--    </div>-->
<!--    </br>-->
<!--    <div>-->
<!--    <label for="email">E-mail</label>-->
<!--    <input type="text" th:field="*{email}" id="email" placeholder="E-mail">-->
<!--    </div>-->
<!--    </br>-->
<!--    <div>-->
<!--    <label for="email">Password</label>-->
<!--    <input type="text" th:field="*{password}" id="password" placeholder="Password">-->
<!--    </br>-->
<!--    </div>-->
<!--    </br>-->
<!--    <div>-->
<!--    <input type="submit" value="Create User">-->
<!--    </div>-->
<!--    </br>-->
<!--    <div>-->
<!--        <input type="button" value="Go Back"-->
<!--               onclick="window.location.href='/admin'">-->
<!--    <sec:authorize access="isAuthenticated()">-->
<!--        <input type="button" value="Log out"-->
<!--               onclick="window.location.href='/logout'">-->
<!--    </sec:authorize>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
